<h2>Sondage sur les sondages</h2>
<form [formGroup]="surveyForm"    (ngSubmit)="print()">
  <label for="sondage">Quels sont vos 3 thèmes favoris ? </label><br>
  <input type="text" id="sondage" name="sondage"  formControlName="reponse1Control" /><br>
  <label for="nom">Quelle est votre nom ?  </label><br>
  <input type="text" id="nom" name="nom"  formControlName="reponse2Control" /><br>
  <label for="email">Quel est votre adresse email ?  </label><br>
  <input type="text" id="email" name="email"  formControlName="reponse3Control" /><br>
  <input type="submit" value="Valider">
</form>
